@font-face {
  font-family: Avenir;
  src: url("../../fonts/Gotham-Font/AvenirLTStd-Black.otf");
  font-display: swap;
}
@font-face {
  font-family: Avenir;
  src: url("../../fonts/Gotham-Font/AvenirLTStd-Book.otf");
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  src: url("../../fonts/Gotham-Font/AvenirLTStd-Roman.otf");
  font-display: swap;
}
